body {
	font-family: 'Happy Monkey', cursive;
}
.container {
	position: relative;
	margin: auto;
	width: 800px;
	box-shadow: 5px 0px 10px darkgray, -5px 0px 10px darkgray;
	padding:  0 50px 0 50px;
}

p, li {
	color: #707070;
}

#header {
	text-align: center;
}

h1 {
	color: #DB0038;
}

h2 {
	color: #3998A3;
}

h3 {
	color: #474747;
}

.hero {
	background-color: #f4f4f4;
	text-align: center;
	padding-bottom: 10px;
}


li {
	padding: 5px 0;
}

#stars {
	color: #F4B400;
	font-size: 25px;
}

footer, .rating {
	text-align: center;
}