body {
	font-family: sans-serif;
}

header {
	text-align: center;
	padding: 20px;
}

#navigation li{
	list-style: none;
	display: inline-block;
	padding: 0 5px;
}

#navigation {
	text-align: center;
	background-color: lightgrey;
	padding: 20px;
	margin-bottom: 5px;
}

#featuresection {
	background-color: lightgrey;
	padding: 20px;
	text-align: center;
	margin-bottom: 5px;
}

/*flexbox-solution*/


#columnwrapper {
	display: flex;
  	justify-content: space-between;
}
	
.column {
	text-align: center;
	background-color: lightgrey;
	width: 33%;
	padding: 20px 0;
	margin-bottom: 5px;
}

/*solution with float property*/

/*
.column {
	text-align: center;
	background-color: lightgrey;
	width: 33%;
	padding: 20px 0;
	margin-bottom: 5px;
}

#firstcolumn {
	float: left;
}

#secondcolumn {
	display: inline-block;
	margin-left: 6px;
}

#thirdcolumn {
	float: right;
}
*/

/*another solution with float property*/

/*
.column {
	text-align: center;
	background-color: lightgrey;
	width: 33%;
	padding: 20px;
	margin-bottom: 5px;
	float: left;
	margin-right: 0.5%;
	box-sizing: border-box;

}

#thirdcolumn {
	margin-right: 0;
}
*/

footer {
	/*clear: both;*/ /*necessary for the floating solutions*/
	background-color: lightgrey;
	padding: 20px;
	text-align: center;
}


